.timer-settings-container{
    text-align:center;
}

.timer-settings-countdown-label{
    position: relative;
    right:32px;

}

.timer-settings-minute-input{
    position: relative;
    right:138px;
}