.timer-settings-container{
    text-align:center;
}

.timer-settings-countdown-label{
    position: relative;
    right:32px;

}

.timer-settings-minute-input{
    position: relative;
    right:144px;
    min-width:180px !important;
    max-width:180px !important;
}